{% extends "./base.html" %}

{% block tittle %} Precios {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Gestión de precios</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'precio_create' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="Nombre_Precio" name="Nombre_Precio" class="form-control" placeholder="Nombre de Precio" minlength="1" maxlength="50" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" id="Precio" name="Precio" class="form-control" placeholder="Precio" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Precios</h1>
        <div class="table-responsive py-2">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in precios %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ p.Nombre_Precio }}</td>
                        <td>{{ p.Precio }}</td>
                        <td><a href="{% url 'precio_update' p.pk %}" class="btn btn-info">Editar</a></td>
                        <td><a href="{% url 'precio_delete' p.pk %}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
